"""{{ name }} (taxid={{ taxid }})."""

from ref_builder.ncbi.models import (
    MolType,
    NCBIGenbank,
    NCBILineage,
    NCBIRank,
    NCBISource,
    NCBISourceMolType,
    NCBITaxonomy,
    NCBITaxonomyOtherNames,
    Strandedness,
    Topology,
)
from tests.fixtures.ncbi import mock_ncbi_client

{{ var_name }} = mock_ncbi_client.add_otu(
    taxid={{ taxid }},
    name="{{ name }}",
    refseq={{ refseq }},
    taxonomy={{ taxonomy }},
    genbank={{ genbank }},
)
{% for isolate in isolates %}

{{ var_name }}.add_isolate(
    accessions={{ isolate.accessions }},
    genbank={{ isolate.genbank }},
)
{% endfor %}
